<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="46192Omega142.FlappyBirdHDFree" Version="1.0.0.0" Publisher="CN=348A6BFE-6E7E-465F-B179-5482BE20739F" />
  <Properties>
    <DisplayName>Flappy Bird HD Free</DisplayName>
    <Description>Just keep flapping</Description>
    <PublisherDisplayName>Omega142</PublisherDisplayName>
    <Logo>app-storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="index.html">
      <VisualElements DisplayName="Flappy Bird HD Free" Logo="app-logo.png" SmallLogo="app-smalllogo.png" Description="Just keep flapping" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="logoOnly" />
        <SplashScreen Image="splashscreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>